**WEB SCRAPPING | ANSHUMAN PATTNAIK**

In [109]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [151]:
url = 'https://internshala.com/jobs/page-1/'

In [111]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage = requests.get(url,headers=headers).text

In [ ]:
soup = BeautifulSoup(webpage,'lxml')
print(soup.prettify())

In [113]:
card_container = 'container-fluid'
company2 = soup.find_all('div',class_='individual_internship_details')
ctc3 = soup.find_all('div',class_='other_detail_item salary_container')
exp5 = soup.find_all('div',class_='other_detail_item job-experience-item')
job_profile = soup.find_all('h3',class_='heading_4_5 profile')
company_name = soup.find_all('div',class_='heading_6 company_name')
logo9 = soup.find_all('div',class_='internship_logo')

**LOCATION**

In [114]:
location = []
for i in company2:
  x3 = i.find('span')
  location.append(x3.text.strip())

**COST TO COMPANY [CTC]**

In [115]:
ctc = []
for i in ctc3:
  x4 = i.find('span',class_='desktop')
  ctc.append(x4.text.strip())

**EXPERIENCE**

In [116]:
exp = []
for i in exp5:
  x5 = i.find('div',class_='item_body desktop-text')
  exp.append(x5.text.strip())

**ARRAY CREATION**

In [117]:
job = []
cmpname = []
logo = []

**JOB PROFILE**

In [118]:
for i in job_profile:
  x7 = i.text.strip()
  job.append(x7)

**COMPANY NAME**

In [119]:
for i in company_name:
  x8 = i.find('p')
  cmpname.append(x8.text.strip())

**LOGO IMG**

In [120]:
for i in logo9:
  x9 = i.find('img')
  if x9:
    logo.append(x9['src'])
  else :
    logo.append('none')

know the length of series

In [121]:
print(len(job))
print(len(cmpname))
print(len(logo))
print(len(location))
print(len(ctc))
print(len(exp))

40
40
40
40
40
40

In [122]:
merge = {'Job Profile':job,'Company':cmpname,'Location':location,'CTC':ctc,'EXPERIENCE':exp,'LOGO':logo}

In [123]:
merge = pd.DataFrame(merge)

In [ ]:
merge

In [125]:
logo[13] # to check wheter our rows are correct or not - it is correct - GC MARKETING COMPANY

'none'

**FROM PAGES RANGE [1:n]**

In [141]:
data = pd.DataFrame()

for i in range(1,11):

  url2= url = 'https://internshala.com/jobs/page-{}/'.format(i)
  print(url2)
  headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
  webpage = requests.get(url,headers=headers).text
  soup = BeautifulSoup(webpage,'lxml')

  card_container = 'container-fluid'
  company2 = soup.find_all('div',class_='individual_internship_details')
  ctc3 = soup.find_all('div',class_='other_detail_item salary_container')
  exp5 = soup.find_all('div',class_='other_detail_item job-experience-item')
  job_profile = soup.find_all('h3',class_='heading_4_5 profile')
  company_name = soup.find_all('div',class_='heading_6 company_name')
  logo9 = soup.find_all('div',class_='internship_logo')

  location = []
  for i in company2:
   x3 = i.find('span')
   location.append(x3.text.strip())

  ctc = []
  for i in ctc3:
   x4 = i.find('span',class_='desktop')
   ctc.append(x4.text.strip())

  exp = []
  for i in exp5:
   x5 = i.find('div',class_='item_body desktop-text')
   exp.append(x5.text.strip())

  job = []
  cmpname = []
  logo = []


  for i in job_profile:
   x7 = i.text.strip()
   job.append(x7)

  for i in company_name:
   x8 = i.find('p')
   cmpname.append(x8.text.strip())

  for i in logo9:
   x9 = i.find('img')
   if x9:
     logo.append(x9['src'])
   else :
     logo.append('none')

  if i == 1:  # First page
        job = job[:47]  # Assuming the first page always has 47 rows
        cmpname = cmpname[:47]
        logo = logo[:47]
        location = location[:47]
        ctc = ctc[:47]
        exp = exp[:47]
  else:  # Other pages
        job = job[:40]  # Assuming other pages always have 40 rows
        cmpname = cmpname[:40]
        logo = logo[:40]
        location = location[:40]
        ctc = ctc[:40]
        exp = exp[:40]

  print(len(job))
  print(len(cmpname))
  print(len(logo))
  print(len(location))
  print(len(ctc))
  print(len(exp))


  merge2 = {'Job Profile':job,'Company':cmpname,'Location':location,'CTC':ctc,'EXPERIENCE':exp,'LOGO':logo}

  data = data.append(pd.DataFrame(merge2),ignore_index=True)

https://internshala.com/jobs/page-1/
40
40
40
40
40
40
https://internshala.com/jobs/page-2/

<ipython-input-141-739e835d840a>:79: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.DataFrame(merge2),ignore_index=True)

40
40
40
40
40
40
https://internshala.com/jobs/page-3/

<ipython-input-141-739e835d840a>:79: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.DataFrame(merge2),ignore_index=True)

40
40
40
40
40
40
https://internshala.com/jobs/page-4/

<ipython-input-141-739e835d840a>:79: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.DataFrame(merge2),ignore_index=True)

40
40
40
40
40
40
https://internshala.com/jobs/page-5/

<ipython-input-141-739e835d840a>:79: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.DataFrame(merge2),ignore_index=True)

40
40
40
40
40
40
https://internshala.com/jobs/page-6/

<ipython-input-141-739e835d840a>:79: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.DataFrame(merge2),ignore_index=True)

40
40
40
40
40
40
https://internshala.com/jobs/page-7/

<ipython-input-141-739e835d840a>:79: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.DataFrame(merge2),ignore_index=True)

40
40
40
40
40
40
https://internshala.com/jobs/page-8/

<ipython-input-141-739e835d840a>:79: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.DataFrame(merge2),ignore_index=True)

40
40
40
40
40
40
https://internshala.com/jobs/page-9/

<ipython-input-141-739e835d840a>:79: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.DataFrame(merge2),ignore_index=True)

40
40
40
40
40
40
https://internshala.com/jobs/page-10/

<ipython-input-141-739e835d840a>:79: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.DataFrame(merge2),ignore_index=True)

40
40
40
40
40
40

<ipython-input-141-739e835d840a>:79: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.DataFrame(merge2),ignore_index=True)

In [ ]:
pd.DataFrame(merge2)

In [142]:
data

,Job Profile,Company,Location,CTC,EXPERIENCE,LOGO
0,Online English Teacher - Work From Home,PlanetSpark,Hyderabad,"₹ 3,00,000",1-5 years,none
1,Business Development Executive,Urban NXT,Mumbai,"₹ 2,00,000 - 3,00,000",0-5 years,https://internshala-uploads.internshala.com/lo...
2,Social Media Marketing Manager,Urban NXT,Mumbai,"₹ 2,00,000 - 3,00,000",0-5 years,https://internshala-uploads.internshala.com/lo...
3,Mechanical Design Engineer,CAD Dzigner,Mumbai,"₹ 3,00,000 - 4,00,000",1-2 years,https://internshala-uploads.internshala.com/lo...
4,Sales Associate,PlanetSpark,Gurgaon,"₹ 6,00,000 - 7,00,000",0-4 years,none
...,...,...,...,...,...,...
395,Business Development Manager,Bonanza Portfolio Limited,"Amritsar, Delhi, Jalandhar, Panchkula, Bangalore","₹ 3,00,000 - 4,20,000",1-5 years,https://internshala-uploads.internshala.com/lo...
396,Human Resources (HR) Executive,R J Gala & Associates,Mumbai,"₹ 2,00,000",1-2 years,none
397,Cinematographer,Bluntly Streaming,"Delhi, Gurgaon, Noida","₹ 2,00,000 - 3,00,000",0 years,none
398,Export Business Development Manager,Slaughter & Fox,"Kolkata, Goa Velha ...","₹ 7,00,000 - 9,00,000",2-5 years,https://internshala-uploads.internshala.com/lo...
399,3D Art,Bluntly Streaming,"Delhi, Gurgaon, Noida","₹ 2,00,000 - 3,00,000",0 years,none

In [148]:
data['Location'].value_counts()

Mumbai                                                                    74
Gurgaon                                                                   39
Delhi                                                                     37
Work from home                                                            27
Bangalore                                                                 27
                                                                          ..
Mysuru, Bangalore                                                          1
Bharatpur, Kashipur, Sitapur, Roorkee, Muzzafarpur                         1
Indore, Pithampur, Dewas, Mhow                                             1
Mumbai, Goregaon Kh                                                        1
Kolkata, Goa Velha                                            (Hybrid)     1
Name: Location, Length: 104, dtype: int64

In [150]:
data.to_csv('output.csv', index=False)